* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}